#expenses-table {
  margin: 0 auto;
}

#expenses-table td {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#expenses-table td:nth-child(3),
#expenses-table td:nth-child(4) {
  background: #DC3545;
}

#expenses-table tr {
  display: flex;
}

@media screen and (min-width: 768px) {
  #expenses {
    position: relative;
  }

  .clear-all-expenses-btns {
    position: absolute;
    right: -43px;
    top: -50px;
  }
}